<html>
<head>
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="../css/font-awesome.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="../css/angular-chart.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="../css/style.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="../css/jquery-clockpicker.css" media="screen,projection" />
<!-- Icon font -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
	.comparison{
		text-align: center;
	}
	.lighten-3{
		color: white;
		text-align: left;
	}
</style>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Compare Tags</title>
</head>
<body  ng-app="myApp" ng-controller="compareCtrlr">

	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Twitter analysis - Compare</a>
		</div>
	</nav>

	<div class="row" style="margin-top: 1em">
		<form class="col s12" ng-submit ="submitForm();"   ng-hide="showResult">
			<div class="row">
				<div class="input-field col s5 m5 l3">
					<i class="fa fa-slack prefix"></i> 
					<input id="icon_tag1" ng-model="formData.tag1"
						type="text" class="validate" required="Tag1 is required"> 
					<label for="icon_tag1">Tag1</label>
				</div>
				<div class="input-field col s1 l1" style="text-align: center; font-size: 2rem;">
					<b>Vs</b>
				</div>
				<div class="input-field col s5 m5 l3">
					<i class="fa fa-slack prefix"></i> 
					<input id="icon_tag2" ng-model="formData.tag2"
						required="Tag2 is required"
						type="text" class="validate"> 
					<label for="icon_tag2">Tag2</label>
				</div>
			</div>
			<div class="row">
				<label for="icon_tag2" style="font-size: 1.5rem;float: left">Number of Tweets to analize : </label>
				<input id="icon_tag2" ng-model="formData.count"
					type="number" class="validate col l3 m5 s9"> 
			</div>
			<!-- Below code is commented out because we cannot search tweats for some date range -->
			<!-- <div class="row">
				<div class="input-field col s3 m3 l2">
					<label for="from_date" style="position: relative;">From Date</label>
					<input id="from_date" type="text" ng-model="formData.dateFormated1" class="datepicker">
				</div>
				<div class="input-field col s2 m2 l1">
					<label for="from_time" style="position: relative;">Time</label>
					<input id="from_time" type="time" ng-model="formData.time1" class="timepicker" value="" data-default="20:48">
				</div>
				<div class="input-field col s1 m1 l1" style="text-align: center; font-size: 2rem;">
					<b>To</b>
				</div>
				<div class="input-field col s3 m3 l2">
					<label for="to_date" style="position: relative;">To Date</label>
					<input id="to_date" type="text" ng-model="formData.dateFormated2" class="datepicker">
				</div>
				<div class="input-field col s2 m2 l1">
					<label for="to_time" style="position: relative;">Time</label>
					<input id="to_time" type="time" ng-model="formData.time2" class="timepicker" value="" data-default="20:48">
				</div>
			</div> -->
			<div class="row">
				<div class="input-field col s11">
					<button class="waves-effect waves-light btn-large" ><i class="fa fa-magic right"></i>Research</button>
				</div>
			</div>
		</form>
		<div class="comparison" ng-show="showResult">
			<!-- For showing total number of tweets -->
			<div class="divider"></div>
			<div class="section col s12 materialize-red lighten-3 ">
				<h5>Number of tweets</h5>
			</div>
			<div class="section col s4 materialize-red lighten-5" style="height: 10em;">
				<p style="position: relative; top:50">{{response.data.tweetsForTag1.length}}</p>
			</div>
			<div class="col s4  materialize-red lighten-5">
				<div style="width: 20em;margin: auto;">
					<canvas id="pie" class="chart chart-pie" data="countdata" labels="labels"></canvas>
				</div>
			</div>
			<div class="section col s4 materialize-red lighten-5" style="height: 10em;">
				<p style="position: relative; top:50">{{response.data.tweetsForTag2.length}}</p>
			</div>
			<div class="divider"></div>
			
			<!--Average sentiment -->
			<div class="divider"></div>
			<div class="section col s12 materialize-red lighten-3 ">
				<h5>Average sentiment</h5>
			</div>
			<div class="section col s4 materialize-red lighten-5" style="height: 10em;">
				<p style="position: relative; top:50">{{averagedata[1] | number : 2}}</p>
			</div>
			<div class="col s4  materialize-red lighten-5">
				<div style="width: 20em;margin: auto;">
					<canvas id="pie" class="chart chart-pie" data=averagedata labels="labels"></canvas>
				</div>
			</div>
			<div class="section col s4 materialize-red lighten-5" style="height: 10em;">
				<p style="position: relative; top:50">{{averagedata[0] | number : 2}}</p>
			</div>
			
			<!--Top sentiment -->
			<div class="divider"></div>
			<div class="section col s12 materialize-red lighten-3 ">
				<h5>Top sentiment</h5>
			</div>
			<div class="section col s4 materialize-red lighten-5" style="height: 10em;">
				<p style="position: relative; top:50">{{maxdata[1] | number : 2}}</p>
			</div>
			<div class="col s4  materialize-red lighten-5">
				<div style="width: 20em;margin: auto;">
					<canvas id="pie" class="chart chart-pie" data="maxdata" labels="labels"></canvas>
				</div>
			</div>
			<div class="section col s4 materialize-red lighten-5" style="height: 10em;">
				<p style="position: relative; top:50">{{maxdata[0] | number : 2}}</p>
			</div>
			
			<!--Worst sentiment -->
			<div class="divider"></div>
			<div class="section col s12 materialize-red lighten-3 ">
				<h5>Worst sentiment</h5>
			</div>
			<div class="section col s4 materialize-red lighten-5" style="height: 10em;">
				<p style="position: relative; top:50">{{mindata[1] | number : 2}}</p>
			</div>
			<div class="col s4  materialize-red lighten-5">
				<div style="width: 20em;margin: auto;">
					<canvas id="pie" class="chart chart-pie" data="mindata" labels="labels"></canvas>
				</div>
			</div>
			<div class="section col s4 materialize-red lighten-5" style="height: 10em;">
				<p style="position: relative; top:50">{{mindata[0] | number : 2}}</p>
			</div>
		</div>
	</div>

	<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../js/materialize.js"></script>
<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/jquery-clockpicker.js"></script>
<script type="text/javascript" src="../js/Chart.js"></script>
<script type="text/javascript" src="../js/angular-chart.js"></script>
 
<script>
var test = $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

//$('.datepicker').datepicker();
  
$('.timepicker').clockpicker({
    autoclose: true
});
  
//angular codes
var app = angular.module('myApp',  ["chart.js"]); 
app.controller('compareCtrlr', function($scope,$http) {
	$scope.formData = {};
	$scope.formData.tag1 = "#sprint"
	$scope.formData.tag2 = "#verizon"
	$scope.formData.count = 10;
	$scope.showResult = false;
	$scope.response ;
	
	$scope.labels = ["Tag2", "Tag1"];
	$scope.countdata = [1,0];
	$scope.averagedata = [1,0];
	$scope.maxdata = [1,0];
	$scope.mindata = [1,0];
	
	
	$scope.submitForm = function() {
		
		//variables for tweet count piechart
		
		
		
		$http.post('../tweetCompare.get', this.formData).
		  then(function(response) {
			$scope.response = response;
		   	$scope.showResult = true;
		   	
			$scope.countdata = [$scope.response.data.tweetsForTag2.length,$scope.response.data.tweetsForTag1.length];
			$scope.averagedata = [getAverageRating($scope.response.data.tweetsForTag2),getAverageRating($scope.response.data.tweetsForTag1)];
			$scope.maxdata = [getMaxRating($scope.response.data.tweetsForTag2),getMaxRating($scope.response.data.tweetsForTag1)];
			$scope.mindata = [getMinRating($scope.response.data.tweetsForTag2),getMinRating($scope.response.data.tweetsForTag1)];
			
		  }, function(response) {
			  alert('got Error back');
		  });
	}
	
	function getAverageRating(array){
		  var sum=0;
		    for (var i = 0; i < array.length; i++) {
		           sum = sum + array[i].sentiment;
		           
		    }
		    if(array.length===0){
		    	return sum;
		    }
		  return sum/array.length;
	}
	
	function getMaxRating(array){
		  var max;
		    for (var i = 0; i < array.length; i++) {
		        if (array[i].sentiment > (max || 0))
		            max = array[i].sentiment;
		    }
		  return max;
	}
	
	function getMinRating(array){
		  var min;
		    for (var i = 0; i < array.length; i++) {
		        if (array[i].sentiment < (min || 0))
		            min = array[i].sentiment;
		    }
		  return min;
	}
		
	});
	
</script>
	
</body>
</html>
