body{
	color: #463E3F;
	font-size: 1.1em;
}

.sentimentMarker{	
	/*background-color: #ea454b ;/*red*/ 
	/*background-color: #66BB6A ;/*green*/
	/*background-color: #ffee58 ;/*yellow */
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1em;
}

/*color indicating the sentiment */
.yellowIndicator{
	background-color: #ffee58 ;/*yellow */
}
.greenIndicator{
	background-color: #66BB6A  ;/*green*/
}
.redIndicator{
	background-color: #ea454b ;/*red*/ 
}

/*Pushing the user image to right and allign it properly */
.circle{
	left:1.5em !important;
	top:1em !important;
}

.circle.senti{
	float: right;
	padding-top: 0.6em;
	position: relative !important;
	text-align: center;	
	margin-right: 1em;
	margin-top: -0.5em;
}

@media only screen and (min-width : 601px) {
	.m6.right{
		text-align: right;
	}
}

